modules = ["web", "nodejs-20", "python-base-3.13"]

[nix]
channel = "stable-25_05"

[agent]
expertMode = true

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Telegram bot"

[[workflows.workflow]]
name = "Telegram bot"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm start"
waitForPort = 5000

[[ports]]
localPort = 5000
externalPort = 80

[deployment]
deploymentTarget = "static"
run = ["npm", "start"]
build = ["npm", "run", "build"]
publicDir = "dist"

[userenv]

[userenv.development]
PUBLIC_SITE_URL = "https://1e9e0e93-f4f6-449a-b342-fffff71b367f-00-acp71n5o7dzr.pike.replit.dev"
